@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

h1,
h2 {
  font-family: 'Inter', sans-serif;
}
h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20;
}

a {
  text-decoration: none;
  color: #111928;
}

/* Header Styles */
.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
}

.container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive adjustments */
@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.header img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.header h1 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111827;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

.nav a {
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.nav a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.nav a:hover::before {
  border-color: #2d68f8;
}

.nav a:hover:not(.active) {
  transition: all 0.5s ease;
  color: #2d68f8;
}

.nav a.active {
  color: white;
  background-color: #2d68f8;
}

/* Main Content Styles */
.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #ffffff;
  text-align: center;
  flex-grow: 1;
}

.main h2 {
  max-width: 406px;
  text-align: center;
  font-size: 29px;
  margin: 0 auto;
}

.main p {
  max-width: 358px;
  margin: 1rem auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: 640px) {
  .main h2 {
    font-size: 29px;
    line-height: 35px;
    max-width: 640px;
    margin: 0 auto;
  }

  .main p {
    max-width: 550px;
    margin: 1rem auto;
  }
}

@media (min-width: 768px) {
  .main h2 {
    font-size: 34px;
    max-width: 768px;
    margin: 0 auto;
  }

  .main p {
    max-width: 700px;
    margin: 1rem auto;
  }
}

@media (min-width: 1024px) {
  .main h2 {
    font-size: 40px;
    max-width: 980px;
    margin: 0 auto;
  }

  .main p {
    max-width: 980px;
    font-size: 14px;
    margin: 1rem auto;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .main h2 {
    font-size: 44px;
    line-height: 42px;
    max-width: 100%;
    margin: 0 auto;
  }

  .main p {
    max-width: 1140px;
    font-size: 14px;
    margin: 1rem auto;
    text-align: center;
  }
}

#title {
  max-width: 300px;
  font-size: 18px;
  font-weight: 700;
  margin: 1rem auto;
  line-height: 28px;
}

#description {
  max-width: 300px;
  font-size: 16px;
  font-weight: 400;
  margin: 1rem auto;
  line-height: 24px;
}

/* Footer Styles */
.footer {
  background-color: #ffffff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  color: #6b7280;
}

/* Font Size Configs */
.text-xs {
  /* 12px */
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  /* 14px */
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-base {
  /* 16px */
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  /* 18px */
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  /* 20px */
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xxl {
  /* 44px (Custom) */
  font-size: 44px;
  line-height: 1.25;
}

/* Font Family Configs */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Global font family */
body {
  font-family: 'Inter', sans-serif;
}

/* Font Weight Classes */
.font-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.font-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.font-medium {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.font-semi-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.one {
  position: relative;
  background: rgba(212, 203, 255, 0.4);
  z-index: 1;
}

#contact {
  position: relative;
}

#contact::before,
#contact::after {
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: radial-gradient(40% 50% at 50% 50%, #2d68f8 0%, #e72df8 100%);
  filter: blur(30px); /* Increased blur */
  z-index: -1; /* Ensure the pseudo-elements stay behind */
}

#contact::before {
  right: -20px;
  top: -20px;
}

#contact::after {
  left: -50px;
  bottom: -75px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}